<!doctype html>
<html>
  <head>
    <title><%= shopName %></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Register for <%= shopName %></h1>
    <p>Please fill in this form to register</p>

    <form method="POST" action="/registered">
      <p>
        First Name:
        <input id="first" type="text" name="first" placeholder="first name" required>
      </p>

      <p>
        Last Name:
        <input id="last" type="text" name="last" placeholder="last name" required>
      </p>

      <p>
        Email:
        <input id="email" type="email" name="email" placeholder="email" required>
      </p>

      <input type="submit" value="OK">
    </form>
  </body>
</html>